.details{
  width: 100%;
  max-width: 1300px;
  margin-top: 10rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;


  &-img{
    width: 100%;
    height: auto;
  }

  &-heading{
    font-size: 5.4rem;
    font-weight: 400;
    font-family: $font-primary;
  }

  &-text{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin: 1.2rem 0;
    font-size: 2.6rem;
  }

  &-text-info{
    margin-left: 2rem;
  }
}