.section{
  margin: 15rem 0;
  padding: 2rem;
  
  &-heading{
    text-align: center;
    text-transform: uppercase;
  }

  &-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 2rem ;
    margin-top: 5rem;
  }

  &-card{
    text-align: center;
    &:first-of-type{
      width: max-content;
    }
    &:last-of-type{
      justify-self: flex-end;
    }
  }  
}


.section-one{
  
  &-img-box{
    margin-top: 14rem;
    position: relative;
  }

  &-icon{
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    right: 35px;
    bottom: 35px;
  }

  &-img{
    width: 100%;
    height: 67.5rem;
  }

  &-heading{
    top: 35px;
    left: 35px;
    position: absolute;
  }
}

.section-two{
  &-row{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 3rem;
    margin-bottom: 3rem;
  }

  &-img{
    width: auto;
    height: 70%;
  }

  &-heading{
    width: 50%;
  }

  &-info > p{
    width: 90%;
  }
}

.section-three{
  position: relative;
  &-img{
    width: 100%;
  }

  &-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}


